QTabWidget::right-corner {
  height: 30px;
	bottom: 5px;
}

QAbstractItemView::item:selected {
  background-color: #90dff9;
	color: black;
}

QTextEdit[readOnly="true"], QPlainTextEdit[readOnly="true"] {
  border: 1px solid #eee;
	background: transparent;
}

/*QPushButton::disabled {
  color: gray;
}*/

QTextEdit, QPlainTextEdit, QDateEdit, QLineEdit {
  padding: 3px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 2px;
}

QTextEdit:focus[readOnly="false"], QPlainTextEdit:focus[readOnly="false"], QDateEdit:focus[readOnly="false"], QLineEdit:focus[readOnly="false"] {
  border-color: #6dace8;
}

QWidget[quickEditStyle="true"] QLineEdit[readOnly="true"],
QWidget[quickEditStyle="true"] QDateEdit[readOnly="true"] {
  border: none;
	border-bottom: 1px dotted gray;
	background: transparent;
}

QListView QLineEdit {
  border: none;
	margin: 0;
	padding: 0;
	background: white;
}

QAbstractItemView::item:selected QLineEdit {
  background-color: #90dff9;
}
