QTabWidget::right-corner {
  height: 30px;
	bottom: 5px;
}

QAbstractItemView::item:selected, QAbstractItemView::item:selected QLineEdit {
  background-color: palette(higlight);
	color: palette(text);
}

QTextEdit[readOnly="true"], QPlainTextEdit[readOnly="true"] {
  border: 1px solid palette(light);
	background: transparent;
}

/*QPushButton::disabled {
  color: gray;
}*/

QPushButton:checked {
background: palette(highlight);
color: palette(highlighted-text)
}

QTextEdit, QPlainTextEdit, QDateEdit, QLineEdit {
  padding: 3px;
	background: palette(base);
	border: 1px solid palette(mid);
	border-radius: 2px;
}

QTextEdit:focus[readOnly="false"], QPlainTextEdit:focus[readOnly="false"], QDateEdit:focus[readOnly="false"], QLineEdit:focus[readOnly="false"] {
  border-color: palette(highlight);
}

QWidget[quickEditStyle="true"] QLineEdit[readOnly="true"],
QWidget[quickEditStyle="true"] QDateEdit[readOnly="true"] {
  border: none;
	border-bottom: 1px dotted palette(dark);
	background: transparent;
}

QMenu::separator {
  background: palette(mid);
}

QListView QLineEdit {
  border: none;
	margin: 0;
	padding: 0;
	background: palette(base);
}
